.containerCard{
    background-color: #2571b7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.icon{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    margin-right: 5%;
    margin-left: 5%;
}

.titleProduct{
    font-size: 1.5em;
    color: white;
}

.description{
    font-size: 1.2em;
    color: white;
    margin-top: 2%;
    margin-right: 5%;
}

@media (max-width:700px){
    .containerCard{
        align-items: center;
    }
    .icon{
        width: 5%;
        margin-right: 15%;
        margin-left: 15%;
    }

    .titleProduct{
        font-size: 0.9em;
        width: 90%;
    }

    .description{
        font-size: 0.6em;
        width: 90%;
    }
}

