.principalContainer{
    width: 80%;
    margin: auto;
    margin-top: 30vh;
}

.titleCallToAction{
    color: white;
    font-size: 3.1em;
}

.descriptionCallToAction{
    color: aliceblue;
    font-size: 1.5em;
    margin-bottom: 7%;
}

.buttonCallToAction{
    border: none;
    background-color: #00a4ef;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    padding-right:3%;
    padding-left:3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.buttonCallToAction:hover{
    background-color: #002050;
}

@media (max-width:700px){
    .titleCallToAction{
        font-size: 2em;
    }

    .descriptionCallToAction{
        font-size: 1.3em; 
        margin-bottom: 20%;
    }

    .buttonCallToAction{
        padding-right:5%;
        padding-left:5%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}