.containerProducts{
    width: 70vw;
    margin-left: 8%;
    display: grid;
    grid-template-columns: 40vw 40vw; 
    grid-column-gap: 5%;
}

.cards{
    height: 22vh;
    margin-bottom: 3%;
}

.pagination{
    padding: 1%;
    color: aliceblue;
    background-color:rgb(123, 177, 224);
    border: none;
    margin-right: 1%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.containerPagination{
    display: flex;
    justify-content: center;
}

@media (max-width:700px){
    .containerProducts{
        margin-left: 15%;
        display: flex;
        flex-direction: column;
    }
}